@using static AdoptMe.Common.GlobalConstants.PageSizes
@model AllPetsViewModel

@{
    ViewBag.Title = "All pets at one place";
}

<form method="get">
    <div class="form-row align-items-center">

        <div class="col-md-4 mb-2">
            <label asp-for="Species"></label>
            <select asp-for="Species" class="form-control">
                <option value="" disabled selected>Choose your favourite species</option>
                <option value="">All</option>
                @foreach (var species in Model.AllSpecies)
                {
                    <option value="@species.Name">@species.Name</option>
                }
            </select>
        </div>

        <div class="col-md-4 mb-2">
            <label asp-for="SearchString"></label>
            <input asp-for="SearchString" class="form-control" placeholder="Bulldog, Labrador, Persian cat...">
        </div>

        <div class="col-md-5 mb-5">
            <label for="button"></label>
            <button type="submit" class="btn btn-dark">Search</button>
        </div>

    </div>
</form>

<partial name="_PetsPartial" model="@Model.Pets" />

@if (!Model.Pets.Any())
{
    <h2 class="text-center">No pets found!</h2>
}

@{
    var previousPage = Model.PageIndex - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalPets / AllPetsPageSize);
}

<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.PageIndex == 1 ? "disabled" : string.Empty)"
           asp-controller="Pets"
           asp-action="All"
           asp-route-pageIndex="@previousPage"
           asp-route-species="@Model.Species"
           asp-route-searchString="@Model.SearchString">Previous</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.PageIndex == maxPage ||
                                     !Model.Pets.Any();
    }

    <div class="col-md-6">
        <a class="btn btn-primary float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="Pets"
           asp-action="All"
           asp-route-pageIndex="@(Model.PageIndex + 1)"
           asp-route-species="@Model.Species"
           asp-route-searchString="@Model.SearchString">Next</a>
    </div>
</div>