@model AllPetsViewModel

@{
    ViewBag.Title = "All pets at one place";
}

<form method="get">
    <div class="form-row align-items-center">

        <div class="col-md-4 mb-2">
            <label asp-for="Species"></label>
            <select asp-for="Species" class="form-control">
                <option value="" disabled selected>Choose your favourite species</option>
                <option value="">All</option>
                @foreach (var species in Model.AllSpecies)
                {
                    <option value="@species">@species</option>
                }
            </select>
        </div>

        <div class="col-md-4 mb-2">
            <label asp-for="SearchString"></label>
            <input asp-for="SearchString" class="form-control" placeholder="Bulldog, Persian cat...">
        </div>

        <div class="col-md-5 mb-5">
            <label for="button"></label>
            <button type="submit" class="btn btn-dark">Search</button>
        </div>

    </div>
</form>


<div class="row">
    @foreach (var pet in Model.Pets)
    {
    <div class="col-3">
        <div class="card-group mb-3">
            <div class="card border-info mb-3">
                <div class="embed-responsive embed-responsive-4by3">
                    <img class="card-img-top embed-responsive-item" src="@pet.ImageUrl" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <h4 class="card-title text-center">@pet.Name</h4>
                    <p class="card-text text-center">@pet.Gender, @pet.Breed, @pet.Age year(s) old</p>
                    <a asp-controller="Pets" asp-action="Details" asp-route-id="@pet.Id" class="btn btn-info">Learn more about me</a>
                </div>
            </div>
        </div>
    </div>
    }
</div>