@model AllPetsViewModel

@{ ViewBag.Title = "All active pet adds"; }

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Species</th>
            <th scope="col">Breed</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pet in Model.Pets)
        {
            <tr>
                <td>@pet.ImageUrl</td>
                <td>@pet.Name</td>
                <td>@pet.Species</td>
                <td>@pet.Breed</td>
                <td>
                    <form method="post">
                        <button type="submit" class="btn btn-success" asp-area="Administration" asp-controller="AdminPanel" asp-action="АcceptRequest" asp-route-id="@pet.Id">Accept</button>
                        <button type="submit" class="btn btn-danger" asp-area="Administration" asp-controller="AdminPanel" asp-action="DeclineRequest" asp-route-id="@pet.Id">Decline</button>
                    </form>
                </td>
            </tr>            
         }
    </tbody>
</table>

@if (!Model.Pets.Any())
{
<h2 class="text-center">No pets found!</h2>
}

@{ var previousPage = Model.PageIndex - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling(((double)Model.TotalPets) / AdminPanelPagesSize); }

<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.PageIndex == 1 ? "disabled" : string.Empty)"
           asp-controller="AdminPanel"
           asp-action="AllPets"
           asp-route-pageIndex="@previousPage">Previous</a>
    </div>

    @{ var shouldButtonBeDisabled = Model.PageIndex == maxPage || !Model.Pets.Any(); }

    <div class="col-md-6">
        <a class="btn btn-primary float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="AdminPanel"
           asp-action="AllPets"
           asp-route-pageIndex="@(Model.PageIndex + 1)">Next</a>
    </div>
</div>